[submodule "DZLab-Tools"]
	path = DZLab-Tools
	url = git://dzlab.pmb.berkeley.edu/DZLab-Tools.git
[submodule "System-Wrapper"]
	path = System-Wrapper
	url = git://dzlab.pmb.berkeley.edu/System-Wrapper.git
